@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Classic Flyrod Database (Razor)</h1>
</div>
@*<a href="../Players">Players Modification</a>
*@
<br />
<a class="custom-navbar-blue" asp-area="" asp-page="/Flyrods/Index">Flyrods</a>
<br />
<a class="custom-navbar-blue" asp-area="" asp-page="/Makers/Index">Makers</a>
<br />
<br />
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
